@import "tailwindcss";

@theme {
    --color-light-primary: #f5f5f5;
    --color-dark-primary: #121212;

    --color-light-secondary: #f5f5f5;
    --color-dark-secondary: #202020;

    --color-light-tertiary: #f5f5f5;
    --color-dark-tertiary: #303030;

    --color-light-text: #000000;
    --color-dark-text: #ffffff;

    --font-inconsolata: "Inconsolata", monospace;
}

@font-face {
    font-family: Inconsolata;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("/public/fonts/Inconsolata/Inconsolata-VariableFont_wdth%2Cwght.ttf")
        format("ttf");
}

#HotBar {
    -webkit-app-region: drag;
}

#HotBar > * {
    -webkit-app-region: no-drag;
}

p,
span {
    width: fit-content;
    cursor: default;
}

html.dark {
    --sb-track-color: var(--color-dark-secondary);
    --sb-thumb-color: var(--color-dark-tertiary);

    --sb-size: 8px;
}
html.light {
    --sb-track-color: var(--color-light-secondary);
    --sb-thumb-color: var(--color-light-tertiary);

    --sb-size: 8px;
}

*::-webkit-scrollbar {
    width: var(--sb-size);
}

*::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
}

@supports not selector(::-webkit-scrollbar) {
    * {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.HEXblock,
.HEXblock > span {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.TEXTblock,
.TEXTblock > span {
    display: flex;
    flex-direction: row;
}

span[data-hover="true"] {
    border-radius: 0.2rem;
    transition: background-color 0.2s ease-in-out;
}

/* From Uiverse.io by vinodjangid07 */
/* To hide the checkbox */
input[type="checkbox"] {
    display: none;
}

.toggle-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 30px;
    background-color: var(--color-dark-tertiary);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.toggle-switch::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 5px;
    background-color: white;
    border-radius: 50%;
    transition-duration: 0.2s;
}

input[type="checkbox"]:checked + .toggle-switch::after {
    transform: translateX(100%);
    transition-duration: 0.2s;
    background-color: white;
}
/* Switch background change */
input[type="checkbox"]:checked + .toggle-switch {
    background-color: rgb(82, 82, 82);
    transition-duration: 0.2s;
}

/* From Uiverse.io by Yaya12085 */
.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: var(--color-dark-primary);
    box-sizing: border-box;
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
}

.radio-inputs > label {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs > label > input[type="radio"] {
    display: none;
}

.radio-inputs > label > span {
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 0;
    color: var(--color-dark-text);
    transition: all 0.15s ease-in-out;
}

.radio-inputs > label > input[type="radio"]:checked + span {
    background-color: var(--color-dark-secondary);
    font-weight: 600;
}
